@font-face {
    font-family: 'Kot';
    src: 
        url('../fonts/EduVICWANTBeginner-Bold.ttf') format('truetype'),
        url('../fonts/EduVICWANTBeginner-Medium.ttf') format('truetype'),
        url('../fonts/EduVICWANTBeginner-Regular.ttf') format('truetype'),
        url('../fonts/EduVICWANTBeginner-SemiBold.ttf') format('truetype'),
        url('../fonts/EduVICWANTBeginner-VariableFont_wght.ttf') format('truetype');
    font-display: swap;
}