@import url('./fonts.css');

:root {
    --bg-color: var(--white-color);
    --red-color: #F26B76;
    --white-color: #F2E4E9;
    --blue-color: #8786A6;
    --brown-color: #BFAC95;
    --salmon-color: #F29580;
    --kot-letter: black;
}

*, html, body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: var(--bg-color);
}

#app {
    height: 100vh;
    width: 100vw;
    background-color: var(--bg-color);
}

#container {
    height: 100vh;
    width: 100vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: fixed;
    left: -60px;
    top: -85px;
    bottom: 0px;
}

#start-message {
    position: absolute;
    bottom: 22%;
    left: 40%;
    text-align: center;
    font-family: 'Kot', monospace;
    font-size: 20px;
    color: var(--kot-letter);
}